<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This Site Was Build During Learning Node.js Course at RunProf Office</p>
        <img class="portrait" src="/img/mosalah2408.jpg">
    </div>
    
    {{>footer}}
</body>

</html>